body {
  font-family: 'Raleway', sans-serif;
}

/**** HEADER ****/

.header {
  background-color: #f6f7f9;
}

.header .wrapper {
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1000px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 45px;
}

.header__logo h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
}

.header__navigaiton ul {
  list-style: none;
}

.header__navigation li {
  display: inline-block;
  margin: 0 7px;
}

.header__navigation a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}

/**** HERO ****/

.hero {
}
