*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  color: #222;
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
}

main {
  margin-top: 45px;
}

p {
  padding-top: 0.75rem;
  font-size: 0.95rem;
  line-height: 1.5;
  font-weight: 500;
}

h3 {
  font-size: 1.25rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  font-weight: 600;
}

.wrapper {
  margin: 0 auto;
  max-width: 80rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.navbar {
  background-color: #f6f7f9;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.navbar .wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4.5rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar__logo--text {
  font-family: 'Raleway', sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.navbar__nav {
  width: 32rem;
}

.navbar__nav--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar__nav--item {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.navbar__nav--links a:hover {
  color: #e40015;
}

.burger-menu {
  display: none;
  color: #fff;
  font-size: 25px;
}

.responsive-menu {
  display: block !important;
}

.hero {
  background-image: url('../assets/image-1.jpg');
  height: 52.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero .wrapper {
  padding: 6rem;
  height: 24.5rem;
  width: 61rem;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.hero__content--title {
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.hero__content--date {
  font-size: 1.4rem;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: 400;
}

.hero__content--body {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: 500;
  text-align: center;
}

.blog {
  padding: 5.5rem 0 3rem 0;
  text-align: center;
}

.blog__list {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 52.5rem;
  flex-basis: 52.5rem;
}

.blog__entry {
  -ms-flex-preferred-size: 25rem;
  flex-basis: 25rem;
  margin-bottom: 2.5rem;
  background-color: #f6f7f9;
}

.blog__entry--related {
  background-color: #fff;
}

.blog__content {
  padding: 2rem;
}

.blog__content--date {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-size: 0.9rem;
  padding-top: 0.2rem;
  font-weight: 400;
}

.blog__content--body {
  padding: 0.5rem 0;
  font-size: 0.95rem;
  text-align: left;
  line-height: 1.5;
}

.blog__content--btn {
  color: #e40015;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 7.5px;
  font-weight: 700;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.blog__content--btn:hover {
  color: #8f0210;
}

.blog__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
  padding-top: 2rem;
  -ms-flex-preferred-size: 25rem;
  flex-basis: 25rem;
}

.blog__about .blog__content--title {
  font-size: 1.6rem;
}

.related-posts {
  background-color: #f6f7f9;
  padding: 5.5rem 0 3rem 0;
  text-align: center;
}

.related-posts__list {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: left;
  color: #fff;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #444444;
}

.footer__secondary {
  background-color: #231f1f;
}

.footer__main .wrapper,
.footer__secondary .wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.footer__main .wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer__secondary .wrapper {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__content {
  width: 34%;
}

.footer__nav {
  width: 8%;
}

.footer__nav ul {
  list-style: none;
}

.footer__nav li {
  padding: 0.4rem 0;
}

.footer__nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.05rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__nav a:hover {
  color: #e40015;
}

.footer__newsletter {
  width: 46%;
}

.footer__newsletter--subscribe {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__newsletter--subscribe input {
  height: 3.5rem;
  width: 25rem;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Noto Serif', serif;
  font-style: italic;
}

.footer__newsletter--subscribe button {
  background-color: #e40015;
  border: none;
  color: #f6f7f9;
  height: 3.5rem;
  width: 12.5rem;
  text-align: center;
  font-size: 1rem;
  margin-left: 0.3rem;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: 200;
  letter-spacing: 0.05rem;
}

.footer__newsletter--subscribe button:hover {
  background-color: #8f0210;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 7rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__social a {
  font-size: 1.3rem;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__social a:hover {
  color: #8f0210;
}
/* 
HELPER CLASSES
*/

/*
 * Hide visually and from screen readers
 */
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#active {
  font-weight: 800;
}

/* 
MEDIA QUERIES
*/

@media only screen and (max-width: 1000px) {
  .hero {
    background-size: auto;
  }
}

@media only screen and (max-width: 850px) {
  .wrapper {
    padding: 0 5rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .hero .wrapper {
    width: 80%;
    height: auto;
    padding: 6rem;
  }

  .blog__list,
  .related-posts__list {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .blog__about {
    padding-top: 0;
  }

  .blog__entry {
    max-width: 51.2rem;
    margin-bottom: 1.1rem;
  }

  .blog__image {
    max-width: 51.2rem;
  }

  .related-posts__list {
    -ms-flex-preferred-size: 52.5rem;
    flex-basis: 52.5rem;
  }

  .footer__newsletter--subscribe,
  .footer__content--body {
    text-align: center;
  }

  .footer__content,
  .footer__nav,
  .footer__newsletter {
    width: 100%;
    text-align: center;
  }

  .footer__nav {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    width: 100%;
  }

  .footer__newsletter,
  .footer__content {
    width: 100%;
    padding-top: 2rem;
  }

  .footer__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .footer__newsletter--subscribe {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 630px) {
  main {
    margin-top: 5.4rem;
  }

  .navbar {
    padding: 1.5rem 0;
  }

  .navbar__nav--links {
    display: none;
  }

  .navbar__nav--links li {
    padding-top: 1.2rem;
  }

  .navbar__nav--links a {
    font-size: 1.4rem;
  }

  .burger-menu {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 1.3rem;
    display: inline-block;
    margin-left: 2rem;
    color: #222;
  }

  .wrapper {
    padding: 0 2rem;
  }

  .section-title {
    font-size: 1.4rem;
  }

  .navbar .wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
  }

  .navbar__nav {
    width: 100%;
  }

  .hero .wrapper {
    padding: 4rem;
  }

  .related-posts__list,
  .blog__list,
  .blog__about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 25rem;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
  }

  .blog .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 25rem;
  }

  .blog__entry {
    width: 25rem;
    margin-bottom: 2.5rem;
  }

  .blog__image {
    width: 25rem;
    height: 22rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: right;
    object-position: right;
  }

  .blog__content--title {
    font-size: 1.5rem;
  }

  .blog__content--date,
  .blog__content--body {
    font-size: 1.2rem;
  }

  .blog__content--btn {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 418px) {
  .footer__newsletter input {
    width: 70%;
  }

  .footer__newsletter button {
    width: 8rem;
  }
}

@media only screen and (max-width: 320px) {
  .footer__nav ul {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
