::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* ==========================================================================
BROWSER UPGRADE PROMPT
========================================================================== 
*/

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
AUTHOR CUSTOM STYLES
========================================================================== 
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  color: #222;
  font-size: 62.5%;
}

body {
  font-family: 'Raleway', sans-serif;
}

/**** REUSABLE COMPONENTS ****/

p {
  padding-top: 0.5rem;
  font-size: 0.95rem;
  line-height: 1.5;
}

h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 80rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;
}

#active {
  font-weight: 800;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.blog__entry {
  flex-basis: 25rem;
  margin-bottom: 2.5rem;
  background-color: #f6f7f9;
}

.blog__entry--related {
  background-color: #fff;
}

.blog__content {
  padding: 2rem;
}

.blog__content--title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.05rem;
}

.blog__content--date {
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: 500;
  font-size: 0.9rem;
}

.blog__content--body {
  padding: 0.5rem 0;
  font-size: 0.95rem;
  text-align: left;
  line-height: 1.5;
}

.blog__content--btn {
  color: #e40015;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  transition: all 0.3s;
}

.blog__content--btn:hover {
  color: #8f0210;
}

/**** NAVBAR ****/

.navbar {
  background-color: #f6f7f9;
}

.navbar .wrapper {
  align-items: center;
  height: 4.5rem;
  justify-content: space-between;
}

.navbar__logo--text {
  font-family: 'Raleway', sans-serif;
  font-size: 2.1rem;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.navbar__nav {
  width: 32rem;
}

.navbar__nav--links {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.navbar__nav--item {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #000;
  transition: all 0.3s;
}

.navbar__nav--links a:hover {
  color: #e40015;
}

.burger-menu {
  display: none;
  color: #fff;
  font-size: 25px;
}

.responsive-menu {
  display: block !important;
}

/**** HERO ****/

.hero {
  background-image: url('../assets/image-1.jpg');
  height: 52.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .wrapper {
  padding: 6rem;
  margin: 0 auto;
  height: 24.5rem;
  width: 61rem;
  background: rgba(255, 255, 255, 0.9);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.hero__content--title {
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.hero__content--date {
  font-size: 1.4rem;
  font-family: 'Noto Serif', serif;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero__content--body {
  font-size: 1.4rem;
  line-height: 1.7;
  font-weight: 500;
  text-align: center;
}

/**** Blog ****/
.blog {
  padding: 5.5rem 0 3rem 0;
  text-align: center;
}

.blog__list {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: 52.5rem;
}

.blog__about {
  display: flex;
  align-self: flex-start;
  padding-top: 2rem;
  flex-basis: 25rem;
}

.blog__about .blog__content--title {
  font-size: 1.6rem;
}

/**** RELATED POSTS ****/

.related-posts {
  background-color: #f6f7f9;
  padding: 5.5rem 0 3rem 0;
  text-align: center;
}

.related-posts__list {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/**** FOOTER ****/

footer {
  background-color: #444444;
  padding: 4.5rem 0;
}

footer .wrapper {
  flex-wrap: nowrap;
  text-align: left;
  color: #fff;
}

.footer__content {
  width: 33%;
}

.footer__content--title {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-weight: 600;
}

.footer__nav {
  width: 9%;
}

.footer__nav ul {
  list-style: none;
}

.footer__nav li {
  padding: 0.4rem 0;
}

.footer__nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.05rem;
  transition: all 0.3s;
}

.footer__nav a:hover {
  color: #e40015;
}

.footer__newsletter {
  width: 47%;
}

.footer__newsletter--subscribe {
  padding-top: 1rem;
  display: flex;
}

.footer__newsletter--subscribe input {
  height: 3.5rem;
  width: 25rem;
  border: none;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Noto Serif', serif;
  font-style: italic;
}

.footer__newsletter--subscribe button {
  background-color: #e40015;
  border: none;
  color: #fff;
  height: 3.5rem;
  width: 12.5rem;
  text-align: center;
  font-size: 1rem;
  margin-left: 0.25re;
  text-transform: uppercase;
  transition: 0.3s all;
}

.footer__newsletter--subscribe button:hover {
  background-color: #8f0210;
}

/* ==========================================================================
HELPER CLASSES
========================================================================== 
*/

/*
 * Hide visually and from screen readers
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/* ==========================================================================
MEDIA QUERIES
========================================================================== 
*/

/* @media only screen and (max-width: 1000px) {
  .wrapper {
    justify-content: space-evenly;
    padding: 0 5rem;
  }

  .blog__about .blog__entry {
    width: 25rem;
  }

  .related-posts__list {
    justify-content: space-evenly;
  }
} */

@media only screen and (max-width: 850px) {
  .wrapper {
    padding: 0 5rem;
    justify-content: center;
  }

  .hero .wrapper {
    width: 80%;
    height: auto;
    padding: 6rem;
  }

  .blog__list,
  .related-posts__list {
    justify-content: space-around;
  }

  .blog__about {
    padding-top: 0;
  }

  .blog__entry {
    max-width: 51.2rem;
    margin-bottom: 1.1rem;
  }

  .blog__image {
    max-width: 51.2rem;
  }

  .related-posts__list {
    flex-basis: 52.5rem;
  }

  .footer .wrapper {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footer__newsletter--subscribe,
  .footer__content--body {
    text-align: center;
  }

  .footer__content,
  .footer__nav,
  .footer__newsletter {
    width: 100%;
    text-align: center;
  }

  .footer__nav {
    order: -1;
    width: 100%;
  }

  .footer__newsletter,
  .footer__content {
    width: 480%;
    padding-top: 2rem;
  }

  .footer__nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  .footer__newsletter--subscribe {
    justify-content: center;
  }
}

@media only screen and (max-width: 623px) {
  .burger-menu {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 5.4rem;
    display: inline-block;
    margin-left: 2rem;
    color: #222;
  }

  .navbar__nav--links {
    display: none;
    margin-top: 5px;
  }

  .navbar__nav--links li {
    padding: 0.7rem 0;
  }

  .navbar__nav--links a {
    font-size: 1.35rem;
  }

  .wrapper {
    padding: 0 2rem;
  }

  .header {
    font-size: 1.3rem;
  }

  .navbar {
    padding: 1.5rem 0;
  }

  .navbar .wrapper {
    justify-content: center;
    height: auto;
  }

  .navbar__nav {
    width: 100%;
  }

  .hero .wrapper {
    padding: 4rem;
  }

  .related-posts__list,
  .blog__list,
  .blog__about {
    flex-direction: column;
    max-width: 25rem;
    align-self: auto;
  }

  .blog .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .blog__entry {
    width: 25rem;
    margin-bottom: 2.5rem;
  }

  .blog__image {
    width: 25rem;
    height: 22rem;
    object-fit: cover;
    object-position: right;
  }

  .blog__content--title {
    font-size: 1.6rem;
  }

  .blog__content--date {
    font-size: 1.2rem;
  }

  .blog__content--body {
    font-size: 1.2rem;
    text-align: center;
  }

  .blog__content--btn {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .footer__newsletter input {
    width: 70%;
  }

  .footer__newsletter button {
    width: 8rem;
  }
}

@media only screen and (max-width: 320px) {
  .footer__nav ul {
    justify-content: space-between;
  }
}
